.App {
  font-family: Arial, sans-serif;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
  margin-bottom: 20px;
}

input, textarea{
  display: block;
  width: 98%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  background-color: #007BFF;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 auto;
}

button:hover {
  background-color: #0056b3;
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.container {
  margin-bottom: 30px;
  padding: 50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.note-container {
  display: flex;
  flex-wrap: wrap;
  
}

.note-card {
  width: calc(30% - 20px);
  margin: 20px 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.judul {
  text-align: center;
}

.container-tambah {
  max-width: 400px;
  margin: 0 auto 30px;
  padding: 60px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

textarea {
  height: 130px;
}

button.delete {
  background-color: #f10000; 
}

button.add {
  background-color: #07aa07; 
}

button.archive {
  background-color: #2581a0;
}

button.delete, button.archive {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .note-card {
    width: 100%;
    font-size: 16px;
  }

  h1 {
    font-size: 20px;
  }

  input, textarea, button {
    font-size: 16px;
  }

  .container-tambah {
    max-width: 100%;
    padding: 20px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .note-card {
    width: calc(50% - 20px);
    font-size: 18px;
  }

  h1 {
    font-size: 22px;
  }

  input, textarea, button {
    font-size: 18px;
  }

  .container-tambah {
    max-width: 80%;
    padding: 40px;
  }
}
